@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_Slider")
<hr />
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Img/6-2-compressor.jpg" />
            <div class="caption">
                <h3>Ürün adı</h3>
                <p>Açıklama</p>
                <p><a href="#" class="btn btn-primary" role="button">İncele</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Img/6-5-compressor.jpg" />
            <div class="caption">
                <h3>Ürün adı</h3>
                <p>Açıklama</p>
                <p><a href="#" class="btn btn-primary" role="button">İncele</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Img/penye-sal.jpg" />
            <div class="caption">
                <h3>Ürün adı</h3>
                <p>Açıklama</p>
                <p><a href="#" class="btn btn-primary" role="button">İncele</a></p>
            </div>
        </div>
    </div>
</div>

<h1>Site sloganımız</h1>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Img/6-2-compressor.jpg" />
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Img/6-2-compressor.jpg" />
        </a>
    </div><div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Img/6-2-compressor.jpg" />
        </a>
    </div><div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Img/6-2-compressor.jpg" />
        </a>
    </div>
</div>