@model IEnumerable<MvcUrunSitesi.Entities.Product>

@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_Slider")
<hr />

<h1>Sizin İçin Seçtiklerimiz</h1>

<div class="row">
    @foreach (var item in Model)
    {
        if (item.Anasayfa == true)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/Img/Product/@item.UrunResmi" />
                    <div class="caption">
                        <h3>@item.UrunAdi</h3>
                        <p>@item.UrunFiyati TL</p>
                        <p><a href="~/UrunDetay/@item.Id" class="btn btn-primary" role="button">İncele</a></p>
                    </div>
                </div>
            </div>
        }
    }
</div>

<h2>Son Eklenen Ürünler</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-md-3">
            <a href="~/UrunDetay/@item.Id" class="thumbnail">
                <img src="~/Img/Product/@item.UrunResmi" />
                <p>@item.UrunAdi</p>
            </a>
        </div>
    }
</div>