
@{
    ViewBag.Title = "Urun Detay";
}
<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <img src="~/Img/urun-detay-resmi.jpg" class="img-responsive" />
        </div>

        <div class="col-xs-12 col-sm-6">
            <h1>@ViewBag.Message Urun Detay Sayfası</h1>
            <p>
                Ürün Fiyatı
            </p>
            <p>
                Ürün açıklamsı
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Sepete Ekle</a></p>
        </div>

    </div>
</div>