
@{
    ViewBag.Title = "Kategoriler";
}

<h1>Kategori adı</h1>
<p>Kategori açıklaması</p>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="/urundetay/1" class="thumbnail">
            <img src="~/Img/6-2-compressor.jpg" />
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Img/6-2-compressor.jpg" />
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Img/6-2-compressor.jpg" />
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Img/6-2-compressor.jpg" />
        </a>
    </div>
</div>
