
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="#">
                <img src="~/Img/banner_1.jpg" />
                <div class="carousel-caption">
                    Ürün 1
                </div>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="~/Img/miocaz-line.jpg" />
                <div class="carousel-caption">
                    Ürün 2
                </div>
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="~/Img/mira-sal.jpg" />
                <div class="carousel-caption">
                    Ürün 3
                </div>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="~/Img/pamuk-vual.jpg" />
                <div class="carousel-caption">
                    Ürün 4
                </div>
            </a>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Önceki</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Sonraki</span>
    </a>
</div>